doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Zoom Clone
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(href="public/css/style.css", rel="stylesheet")
    body 
        header 
            h1 Zoom Clone
        main
            div#call
                div
                    video#myFace(autoplay, playsinline, muted, width="400", height="400")
                    video#peerFace(autoplay, playsinline, width="400", height="400")
                    div
                        button#mute Mute
                        button#camera Cam Off
                        button#rotateY Mirror
                    div
                        select#cameras
                        //- select#speakers
                        //- select#mics
            div#welcome
                form
                    input#nameInput(placeholder="name", type="text")
                    input#roomInput(placeholder="room name", required, type="text")
                    button Enter Room
                h4 Open Rooms:
                ul
            div#room
                h3
                ul 
                form#msg
                    input(placeholder="message", required, type="text")
                    button Send
                form#name
                    input(placeholder="name", required, type="text")
                    button Save
        script(src="/socket.io/socket.io.js")
        
        script(type="module", src="public/js/chat.js")
        script(type="module", src="public/js/videocall.js") 